.body {
    background-color: #F4EBDC;
}

.logo {
    align-content: center;
    justify-content: center;
    background-color: #F4EBDC;
}

.signup {
    justify-content: center;

}
.bk-order {
    color: #7e1e1e;
}

.text-color{
    color: #7e1e1e;
}